body {
        background: #E7E7E7;
        min-height: 100vh;
        font-weight: 200;
        font-size: 14px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
}


html,
body {
        margin: 0;
        padding: 0;
        width: 100vw;
        overflow-x: hidden;
}

* {
        box-sizing: border-box;
}

.green {
        color: #273909;
}

.grey {
        color: #E7E7E7;
}

.header-logo {
        width: 70px;
        height: 70px;
        object-fit: contain;
}

.header-clipped {
        background: #273909;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 6vh;
        /* hauteur clip-path */
        -webkit-clip-path: url(#header-clip);
        clip-path: url(#header-clip);
        position: relative;
        z-index: 999;
}

.text1 {
        font-size: 12px;
}

a {
        text-decoration: none;
        color: inherit;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible,
body>div.header>nav>div>button {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
}


#loader {
  position: fixed;
  inset: 0;
  background: #273909;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#loader.fade-out {
  opacity: 0;
  visibility: hidden;
}


.animation-container {
  position: relative;
  width: 151px;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition: transform 0.1s;
}
#oeil {
  width: 31px;
  height: 30px;
  transform: translate(-50%, -50%) scaleY(1);
  z-index: 1;
}
#fort {
  width: 151px;
  height: 153px;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 0;
  transition: transform 0.4s;
}
